@import '~react-datepicker/dist/react-datepicker.css';

$backgroundBodyColor: #e6eaee;
$whithe: #ffffff;
$black: #000;
$steelblue: #4682b4;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $backgroundBodyColor;
}

.App {
  text-align: center;
}

svg {
  fill: $black;
  fill-opacity: 0.3;
}

path {
  stroke: $steelblue;
}
.lineChartSvg {
  background-color: $whithe;
  padding: 10px;
}
.axis {
  stroke: $black;
}

.line-group {
  overflow-x: scroll;
}

.axis-labels text {
  fill: $black;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: $black;
}

.gridline {
  opacity: 0.2;
}
