.App {
  text-align: center;
}

svg {
  fill: #000;
  fill-opacity: 0.3;
}

path {
  stroke: steelblue;
}
.lineChartSvg {
  background-color: #fff;
  padding: 10px;
}
.axis {
  stroke: #000;
}

.line-group {
  overflow-x: scroll;
}

.axis-labels text {
  fill: #000;
  fill-opacity: 0.9;
  font-size: 12px;
  text-anchor: middle;
}

.axis-labels line {
  stroke: #000;
}

.gridline {
  opacity: 0.2;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
